#content-area{
    width: 100%;
    overflow: auto;
    min-height: 100vh;
}
#filter {
    background: $grey;
    width: 30%;
    max-width: 300px;
    padding-top: 30px;
    display: inline-block;
    float: left;
    h4{
        margin-bottom: 25px;
        text-transform: uppercase;
        font-size: .9rem;
        font-weight: 700;
    }
    .inside{
        padding: 20px;
        max-width: 300px;
        select{
            background: transparent;
            padding: 10px;
            font-size: 1rem;
            font-weight: 300;
            color: #1b1b1b;
            display: block;
            margin-bottom: 25px;
            width: 100%;
        }
        .filters{
            .title{
                font-size: .9rem;
                display: block;
                padding-bottom: 1rem;
                color: $darkgrey;
            }
            input[type='text']{
                border: 1px solid $darkgrey;
                border-radius: 5px;
                font-size: 1rem;
                padding: 0.4rem;
                display: inline-block;
                width: 45%;
                margin-right: 2.5%;
                margin-bottom: 1rem;
            }
            &.extras{
                label{
                    font-size: 0.9rem;
                    display: block;
                    width: 100%;
                    padding: 10px;
                    color: $darkgrey;
                    input[type='checkbox']{
                        float: right;
                    }
                }
            }
        }
    }
}
#listings{
    display: inline-block;
    width: 70%;
    float: left;
    padding: 15px;
    background: $offwhite;
    overflow: auto;
    .search-area{
        input[type="text"]{
            width: 70%;
            background: transparent;
            font-size: 2rem;
            border: none;
            border-bottom: 1px solid $darkgrey;
            margin-bottom: 20px;
            color: $darkgrey;
            font-weight: 300;
        }
    }
    .sortby-area{
        margin-bottom: 20px;
        .results{
            font-size: .8rem;
            margin-bottom: 20px;
            display: inline-block;
            color: $darkgrey;
        }
        .sort-options{
            float: right;
            vertical-align: center;
            select{
                font-size: .9rem;
                font-weight: 300;
                border: 1px solid lightgrey;
                display: inline-block;
                margin-right: 15px;
                padding: 5px 10px;
                vertical-align: center;
            }
            .view{
                display: inline-block;
                .fas{
                    display: inline-block;
                    margin-right: 15px;
                    font-size: 1.2rem;
                }

            }
        }
    }
    .listings-results{
        width: 100%;
        margin-bottom: 60px;
        display: inline-block;
        flex-wrap: wrap;
        // .col-md-3{
        //     width: 25%;
        //     min-width: 260px;
        //     max-width: 360px;
        //     margin-bottom: 30px;
        //     display: inline-block;
        //     vertical-align: top;
        //     padding: 0 15px;
            .listing{
                width: 100%;
                display: inline-block;
                background: #ffffff;
                border-radius: 5px;
                -webkit-box-shadow: 0 9px 54px -4px rgba(224, 224, 224, 1);
                -moz-box-shadow: 0 9px 54px -4px rgba(224, 224, 224, 1);
                box-shadow: 0 9px 54px -4px rgba(224, 224, 224, 1);
                .listing-img{
                    color: white;
                    padding: 15px;
                    position: relative;
                    background-size: cover;
                    object-fit: cover;
                    background-position: center;
                    height: 100%;
                    width: 100%;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    min-height: 175px;
                    -webkit-border-top-left-radius: 5px;
                    -webkit-border-top-right-radius: 5px;
                    -moz-border-radius-topleft: 5px;
                    -moz-border-radius-topright: 5px;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    .dark-overlay{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0,0,0,.4)
                    }
                    .address{
                        position: absolute;
                        bottom: 10px;
                        font-size: 1.3rem;
                    }
                    &:hover {
                        .details{
                            opacity: 1;
                            transition: all .4s ease-in-out;
                        }
                        .address{
                            opacity: 0;
                            transition: all .4s ease-in-out;
                        }
                    }
                    .details{
                        opacity: 0;
                        background: rgb(143,29,203);
                        background: linear-gradient(225deg, rgba(143,29,203,.8) 0%, rgba(162,132,240,.8) 100%);
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        .user-img{
                            display: inline-block;
                            img{
                                height: 50px;
                                width: 50px;
                                border-radius: 50%;
                                border: 3px solid white;
                                margin: 10px;
                            }
                        }
                        .user-details{
                            display: inline-block;
                            vertical-align: top;
                            padding: 18px 18px 15px;
                            .user-name{
                                display: block;
                            }
                            .post-date{
                                color: rgba(224, 224, 224, .8);
                            }
                        }
                        .listing-details{
                            width: 200px;
                            margin: 0 auto;
                            position: relative;
                            padding-top: 5px;
                            .fas, .fa{
                                margin: 0 20px 10px;
                            }
                            .view-btn {
                                right: 15px;
                                background: #000000;
                                color:#ffffff;
                                border: none;
                                padding: 5px 10px;
                                margin-left: 15px;
                                font-size: .9rem;
                                border-radius: 5px;
                                text-align: center;
                                transition: all .2s ease-in-out;
                                &:hover{
                                    background: $pink;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .bottom-info{
                    display: block;
                    padding: 20px 15px;
                    .price{
                        color: $darkgrey;
                        display: block;
                        margin-bottom: 10px;
                    }
                    .location{
                        color: $lightgrey;
                        display: block;
                        font-size: 1.2rem;
                    }
                }
            }
        // }
    }
}

#pagination{
    text-align: center;
        .pages{
            li{
                -webkit-box-shadow: 0 9px 54px -4px rgba(224, 224, 224, 1);
                        -moz-box-shadow: 0 9px 54px -4px rgba(224, 224, 224, 1);
                        box-shadow: 0 9px 54px -4px rgba(224, 224, 224, 1);
                display: inline-block;
                padding: 15px;
                cursor: pointer;

                &.active{
                    background: lightgrey;
                }
            }
        }
}


